.centered {
  position: fixed;
  top: 65%;
  left: 50%;
  height: 90%;
  /* bring your own prefixes */
  transform: translate(-55%, -55%);
}

.user-info-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.user-info-card {
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  display: flex;
}

.user-info-title {
  font-size: 14px;
  color:royalblue;
  position: center;
  text-align: center;
}

.customIconSize {
font-size: 20px;
height: 20px ;
width: 20px ;
}