<app-top-nav></app-top-nav>
    
<div class="action-card-container">
    <!-- Patient: Take Self-Assessment -->
    <mat-card class="action-card" *ngIf="isPatient()" (click)="goToSelfAssessment()">
        <div class="action-icon">
            <mat-icon [inline]="true">fact_check</mat-icon>
        </div>
        <span class="action-label">Take a Self-Assessment Test</span>
    </mat-card>

        <!-- Patient: Take Self-Assessment -->
        <mat-card class="action-card" *ngIf="isPatient()" (click)="goToViewTestStatus()">
            <div class="action-icon">
                <mat-icon [inline]="true">event</mat-icon>
            </div>
            <span class="action-label">View Appointment Status</span>
        </mat-card>

    <!-- Nurse: View Tests-->
    <mat-card class="action-card" *ngIf="isNurse()"(click)="goToViewSelfAssessments()">
        <div class="action-icon">
            <mat-icon [inline]="true">assessment</mat-icon>
        </div>
        <span class="action-label">View Self-Assessment Tests</span>
    </mat-card>

    <!-- Manager: Approve Nurses and Doctors-->
    <mat-card class="action-card" *ngIf="isManager()"(click)="goToApprovals()">
        <div class="action-icon">
            <mat-icon [inline]="true">manage_accounts</mat-icon>
        </div>
        <span class="action-label">Review Pending Registrations</span>
    </mat-card>

    <!-- Doctor and Nurse: Schedule-->
    <mat-card class="action-card" *ngIf="isNurse() || isDoctor()"(click)="goToSchedule()">
        <div class="action-icon">
            <mat-icon [inline]="true">event</mat-icon>
        </div>
        <span class="action-label">View Appointment Schedule</span>
    </mat-card>

    <!-- Doctor: View Assigned Patients-->
    <mat-card class="action-card" *ngIf="isDoctor()"(click)="goViewAssignedPatients()">
        <div class="action-icon">
            <mat-icon [inline]="true">person_search</mat-icon>
        </div>
        <span class="action-label">View Assigned Patients</span>
    </mat-card>
</div>


