.action-card-container {
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.action-card {
    height: 20em;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
    border: 1px solid lightgray;
    gap: 5em;
}

.action-card:hover {
    border: 1px solid #3f51b5;
    cursor: pointer;
}

.action-icon {
    font-size: 1000%;
    color:#3f51b5;
}

.action-label {
    position: absolute;
    color: #3f51b5;
    font-size: large;
    font-weight: 500;
    bottom: 2em;
}