<app-top-nav></app-top-nav>
    
<div class="action-card-container">
    <!-- Patient: Take Self-Assessment -->
    <mat-card class="action-card" *ngIf="isPatient()" (click)="goToSelfAssessment()">
        <div class="action-icon">
            <mat-icon [inline]="true">fact_check</mat-icon>
        </div>
        <span class="action-label">Take a Self-Assessment Test</span>
    </mat-card>

    <!-- Nurse: View Tests-->
    <mat-card class="action-card" *ngIf="isNurse()"(click)="goToViewSelfAssessments()">
        <div class="action-icon">
            <mat-icon [inline]="true">assessment</mat-icon>
        </div>
        <span class="action-label">View Self-Assessment Tests</span>
    </mat-card>
</div>


