<mat-toolbar color="primary">
    <span>Covid19 Data Collection</span>
    <span class="example-spacer"></span>
    <span style="font-size: medium; padding-right: 1em;">{{ currentUser.fullName }}</span>
    <button mat-icon-button class="example-icon favorite-icon" (click)="goHome()">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>account_box</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>