<app-top-nav></app-top-nav>

<div class="container">

    <h1>Pending Registrations</h1>

    <h3>Approve or Reject the pending registration for Nurses and Doctors.</h3>

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="user-id">
            <th mat-header-cell *matHeaderCellDef class="w-10">ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- User Name Column -->
        <ng-container matColumnDef="user-name">
            <th mat-header-cell *matHeaderCellDef class="w-20">Name</th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>
        <!-- User Type Column -->   
        <ng-container matColumnDef="user-type">
            <th mat-header-cell *matHeaderCellDef class="w-15">User Type</th>
            <td mat-cell *matCellDef="let element"> {{ getUserType(element.fkUserType)}} </td>
        </ng-container>

        <!-- Test Date Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="w-20">Email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container> 

        <ng-container matColumnDef="registrationnumber">
            <th mat-header-cell *matHeaderCellDef class="w-15"> Registration Number </th>
            <td mat-cell *matCellDef="let element"> {{element.registrationNumber}} </td>
        </ng-container> 

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="w-20">Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button
                matTooltip="Approve the user."
                (click)="onApproval(element)">
                <mat-icon style="color:green">check_circle</mat-icon>
            </button>                
                <button mat-icon-button
                    matTooltip="Reject the user."
                    (click)="onRejection(element)">
                    <mat-icon style="color:red">cancel</mat-icon>
                </button> 
            </td>
        </ng-container>
		        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" ></tr>
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    </table>


</div>