.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
  
  .register-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }

  .register-card {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .register-radio {
    padding: 1em;
  }