<div class="centered">

    <mat-card class="login-card">
        <form [formGroup]="loginForm" (submit)="onLoginClicked()">
            <div class="login-container">
                <mat-card-title>Covid19 Data Collector</mat-card-title>
            <mat-form-field >
              <label>
                <input formControlName="email"
                       type="email"
                       matInput
                       placeholder="Email">
              </label>
            </mat-form-field>
        
            <mat-form-field>
              <input formControlName="password"
                     type="password"
                     matInput placeholder="Password">
            </mat-form-field>
        
            <button
                 mat-raised-button
                color="primary"
                type="submit">
                <span>Login</span>
            </button>
            </div>
          </form>
    </mat-card>

    <mat-card style="margin-top: 2em;">
        <p style="text-align: center;">
            New user? <a href="/register">Register</a>
        </p>
    </mat-card>
    
  </div>