<div class="centered">

    <h1>Covid19 Data Collector</h1>
  
    <form [formGroup]="loginForm" (submit)="onLoginClicked()">
      <div class="login-container">
  
      <mat-form-field >
        <label>
          <input formControlName="username"
                 matInput
                 placeholder="Username">
        </label>
      </mat-form-field>
  
      <mat-form-field>
        <input formControlName="password"
               type="password"
               matInput placeholder="Password">
      </mat-form-field>
  
      <button
        mat-raised-button
        color="primary"
        type="submit">
        <span>Login</span>
      </button>
      </div>
    </form>
  </div>