<app-top-nav></app-top-nav>

<div class="example-container">

    <h1 style="text-align: center;">List of Users</h1>

    <div class="example-container-table mat-elevation-z8">
        
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>


        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
            <!-- ID Column -->
            <ng-container matColumnDef="user-id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- User Name Column -->
            <ng-container matColumnDef="user-name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="fullName">Name</th>
                <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
            </ng-container>
            <!-- User Type Column -->
            <ng-container matColumnDef="user-type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="fkUserType">User Type</th>
                <td mat-cell *matCellDef="let element"> {{ getUserType(element.fkUserType)}} </td>
            </ng-container>

            <!-- Test Date Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="email">Email</th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="registrationnumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="registrationNumber"> Registration Number
                </th>
                <td mat-cell *matCellDef="let element"> {{element.registrationNumber}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button matTooltip="Remove the user." (click)="onDelete(element)">
                        <mat-icon style="color:red">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>

    </div>

</div>
