
::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.test-container {
    display: flex;
    padding-top: 3em;
    justify-content: center;
}

.test-step-description {
    font-size: 14px;
}

.test-card {
    background-color:whitesmoke;
    border: 1px solid lightgray;
}

.test-buttons {
    padding-top: 2em;
    display: flex;
    gap: 1em;
    justify-content: right;
}

.step-buttons {
    display: flex;
    gap: 1em;
}

.back-button {
    display: flex;
    gap: 1em;
    padding-top: 2em;
}