<app-top-nav></app-top-nav>

<div class="test-container">
        <!-- Self-Assessment -->
        <mat-card class="test-card">

            <mat-card-header>
                <mat-card-title>Covid19 Self-Assessment Test</mat-card-title>
              </mat-card-header>
 
            <mat-stepper #stepper orientation="vertical" linear="true">
                <!-- Breathing -->
                <mat-step [stepControl]="ageStepControl">
                    <ng-template matStepLabel>Breathing Assessment</ng-template>
                    <ng-template matStepContent>
                        <p style="padding-top: 1em;">Are you having difficulty breathing? For example, do you feel like you’re out of breath or suffocating?</p>
                        <p><strong>OR</strong></p>
                        <p>Do you have a lot of trouble breathing even when at rest, such as shortness of breath that makes it hard to speak?</p>
                        <div class="step-buttons">
                            <button 
                                mat-raised-button 
                                [color]="(difficultyBreathingSelected && q_difficultyBreathing) ? 'primary' : ''"
                                (click)=hasBreathingProblem(true)>
                                    Yes
                            </button>
                            <button
                                mat-raised-button
                                [color]="(difficultyBreathingSelected && !q_difficultyBreathing) ? 'primary' : ''"
                                (click)=hasBreathingProblem(false)>
                                    No
                            </button>
                        </div>
                    </ng-template>
                </mat-step>
                <!-- Age Range -->
                <mat-step *ngIf="showAgeRange" [stepControl]="firstSymptomsStepControl">
                    <ng-template matStepLabel>Age Range</ng-template>
                    <ng-template matStepContent>
                        <p style="padding-top: 1em;">Please select an age range.</p>
                        <div class="step-buttons">
                            <button 
                                mat-raised-button
                                [color]="(q_ageRange === '5') ? 'primary' : ''"
                                (click)="setAgeRange('5')">
                                6 months - 5 years
                            </button>
                            <button 
                                mat-raised-button
                                [color]="(q_ageRange === '6-17') ? 'primary' : ''"
                                (click)="setAgeRange('6-17')">
                                6-17 years
                            </button>
                            <button 
                                mat-raised-button
                                [color]="(q_ageRange === '18+') ? 'primary' : ''"
                                (click)="setAgeRange('18+')">
                                18 years +
                            </button>
                        </div>
                        <div class="back-button">
                            <button 
                                mat-raised-button
                                color='accent'
                                (click)="backClickedFromAge($event)">
                                Back
                            </button>
                        </div>
                    </ng-template>
                </mat-step>
                <!-- Symptoms -->
                <mat-step *ngIf="showFirstSymptoms" [stepControl]="situationStepControl">
                    <ng-template matStepLabel>Symptoms</ng-template>
                    <ng-template matStepContent>
                        <p style="padding-top: 1em;"[innerHtml]="firstSymptomsString"></p>
                        <div class="step-buttons">
                            <button 
                                mat-raised-button 
                                [color]="(hasFirstSymptomsSelected && q_firstSymptoms) ? 'primary' : ''"
                                (click)=hasFirstSymptoms(true)>
                                    Yes
                            </button>
                            <button
                                mat-raised-button
                                [color]="(hasFirstSymptomsSelected && !q_firstSymptoms) ? 'primary' : ''"
                                (click)=hasFirstSymptoms(false)>
                                    No
                            </button>
                        </div>
                        <div class="back-button">
                            <button 
                                mat-raised-button
                                color='accent'
                                (click)="backClickedFromFirstSymptomsStep($event)">
                                Back
                            </button>
                        </div>
                    </ng-template>
                </mat-step>
                <!-- First Dynamic Step -->
                <mat-step *ngIf="showFirstDynamicStep"[stepControl]="secondSymptomsStepControl">
                    <ng-template matStepLabel>{{ firstDynamicStepLabel}}</ng-template>
                    <ng-template matStepContent>
                        <p style="padding-top: 1em;"[innerHtml]="firstDynamicSring"></p>
                        <div class="step-buttons">
                            <button 
                                mat-raised-button 
                                [color]="(hasFirstDynamicSelected && firstDynamicData) ? 'primary' : ''"
                                (click)=firstDynamicClick(true)>
                                    Yes
                            </button>
                            <button
                                mat-raised-button
                                [color]="(hasFirstDynamicSelected && !firstDynamicData) ? 'primary' : ''"
                                (click)=firstDynamicClick(false)>
                                    No
                            </button>
                        </div>
                        <div class="back-button">
                            <button 
                                mat-raised-button
                                color='accent'
                                (click)="backClickedFromFirstDynamicStep($event)">
                                Back
                            </button>
                        </div>
                    </ng-template>
                </mat-step>
                <!-- Second Dynamic Step -->
                <mat-step *ngIf="showSecondDynamicStep" [stepControl]="secondSymptomsStepControl">
                    <ng-template matStepLabel>{{ secondDynamicStepLabel}}</ng-template>
                    <ng-template matStepContent>
                        <p style="padding-top: 1em;"[innerHtml]="secondDynamicString"></p>
                        <div class="step-buttons">
                            <button 
                                mat-raised-button 
                                [color]="(hasSecondDynamicSelected && q_secondSymptoms) ? 'primary' : ''"
                                (click)=secondDynamicClick(true)>
                                    Yes
                            </button>
                            <button
                                mat-raised-button
                                [color]="(hasSecondDynamicSelected && !q_secondSymptoms) ? 'primary' : ''"
                                (click)=secondDynamicClick(false)>
                                    No
                            </button>
                        </div>
                        <div class="back-button">
                            <button 
                                mat-raised-button
                                color='accent'
                                (click)="backClickedFromSecondDynamicStep($event)">
                                Back
                            </button>
                        </div>
                    </ng-template>
                </mat-step>
                
            <!-- End Stepper -->
            </mat-stepper>

            <div class="test-buttons">
                <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!canSubmit"
                (click)="onSubmit()">
                   <span>Submit</span>
               </button>
               <button
               mat-raised-button
               type="submit"
               (click)="resetTest()">
                  <span>Reset</span>
              </button>
               <button
                mat-raised-button
                type="submit"
                (click)="goHome()">
                  <span>Cancel</span>
              </button>
            </div>
      </mat-card>
</div>
