<app-top-nav></app-top-nav>

<div class="container">

    <h1>Covid-19 Self-Assessment Tests</h1>
    <h4>Click on a row to view test details.</h4>

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="w-15"> Test ID </th>
            <td mat-cell *matCellDef="let element"> {{element.testId}} </td>
        </ng-container>

        <!-- Patient Name Column -->
        <ng-container matColumnDef="patient-name">
            <th mat-header-cell *matHeaderCellDef class="w-30"> Patient Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>

        <!-- Patient ID Column -->
        <ng-container matColumnDef="patient-id">
            <th mat-header-cell *matHeaderCellDef class="w-15"> Patient ID </th>
            <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
        </ng-container>

        <!-- Test Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="w-20"> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
        </ng-container> 

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="w-20"> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button
                    matTooltip="Reject the patient">
                    <mat-icon style="color:red">cancel</mat-icon>
                </button>
                <button mat-icon-button
                    matTooltip="Book an appoitment">
                    <mat-icon style="color:rgb(61, 22, 153)">event</mat-icon>
                </button>
                <button mat-icon-button
                    matTooltip="Refer to doctor">
                    <mat-icon style="color:green">arrow_circle_right</mat-icon>
                </button>
            </td>
        </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="test-details-container">
                <ol>
                    <li><span class="test-details-question">Does the patient have difficulty breathing?</span><span class="test-details-answer"> {{ yesOrNo(element.q_difficultyBreathing)}}</span></li>
                    <li><span class="test-details-question">Has the patient been in close contact with case of COVID-19?</span><span class="test-details-answer"> {{ yesOrNo(element.q_hasBeenCloseContact)}}</span></li>
                    <li><span class="test-details-question">Has the patient been tested for COVID-19?</span><span class="test-details-answer"> {{ yesOrNo(element.q_hasBeenTested)}}</span></li>
                    <li><span class="test-details-question">Has the patient traveled in the last 14 days?</span><span class="test-details-answer"> {{ yesOrNo(element.q_hasTraveled)}}</span></li>
                    <li><span class="test-details-question">Age range of the patient.</span> <span class="test-details-answer"> {{ ageRange(element.q_ageRange)}}</span></li>
                    <li><span class="test-details-question">Does the patient have any of the first symptoms?</span> <span class="test-details-answer"> {{ yesOrNo(element.q_firstSymptoms)}}</span></li>
                    <li><span class="test-details-question">Is the person in one the these situations?</span> <span class="test-details-answer"> {{ yesOrNo(element.q_situation)}}</span></li>
                    <li><span class="test-details-question">Does the patient have any of the second symptoms?</span> <span class="test-details-answer"> {{ yesOrNo(element.q_secondSymptoms)}}</span></li>
                </ol>
                
            </div>
         </div>
     </td>
    </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
</div>

